In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as sql
import pyodbc 
import seaborn as sns
from scipy import stats
import xlrd

In [47]:
df = pd.read_csv("DataFrame.csv")
df.drop(df.columns[0],axis=1,inplace=True)

In [48]:
df['date']=pd.to_datetime(df['date'],format='%d-%m-%Y')
df.drop(columns=['country_id','created_date'],inplace=True)

In [50]:
df.sort_values(by=['province_id','date'],inplace=True)
df.reset_index(inplace=True,drop=True)
df

,confirm_cases,death_cases,probable_cases,recovered_cases,today_cases,total_cases,date,province_id
0,4,0.0,0,0,4.0,4,2020-01-31,1
1,7,0.0,0,0,3.0,7,2020-02-08,1
2,8,0.0,0,0,1.0,8,2020-02-16,1
3,9,0.0,0,0,1.0,9,2020-02-21,1
4,10,0.0,0,0,1.0,10,2020-02-24,1
...,...,...,...,...,...,...,...,...
1117,13,NaN,0,0,NaN,13,2020-05-16,99
1118,13,NaN,0,0,NaN,13,2020-05-17,99
1119,13,NaN,0,0,NaN,13,2020-05-18,99
1120,13,NaN,0,0,NaN,13,2020-05-19,99
1121,13,NaN,0,0,NaN,13,2020-05-20,99

In [184]:
df=pd.read_csv("DataFrame1.csv")
df['date_of_testing']=pd.to_datetime(df['date_of_testing'],format='%d-%m-%Y')
df.drop(columns=['country_id'],inplace=True)
df.sort_values(by=['province_id','date_of_testing'],ascending=[True,True],inplace=True)
df.reset_index(inplace=True,drop=True)
df

,id,negative_tests,positive_tests,today_tests,total_tests,date_of_testing,province_id
0,871,NaN,NaN,NaN,161,2020-03-15,10
1,870,NaN,NaN,0.0,161,2020-03-16,10
2,869,NaN,NaN,333.0,494,2020-03-17,10
3,868,NaN,NaN,0.0,494,2020-03-18,10
4,867,NaN,NaN,0.0,494,2020-03-19,10
...,...,...,...,...,...,...,...
853,1416,NaN,NaN,NaN,907,2020-05-15,62
854,1429,NaN,NaN,NaN,907,2020-05-16,62
855,1442,NaN,NaN,NaN,907,2020-05-17,62
856,1455,NaN,NaN,NaN,948,2020-05-18,62
857,1468,NaN,NaN,NaN,948,2020-05-19,62

In [186]:
l=[]
for i in df.index:
    j=i+1
    if(j<len(df)):
        if(df['province_id'][i]!=df['province_id'][j]):
            l.append(df['total_tests'][i])
            #print(df['province_id'][i])
l.append(df['total_tests'][857])
l[len(l)-1]=0
l

[10747,
 4596,
 37482,
 20791,
 347224,
 559794,
 35578,
 41606,
 218964,
 125044,
 1134,
 2044,
 0]

In [2]:
df1 = pd.read_csv("Final_2.csv")

In [3]:
df2 = pd.read_csv("DataFrame2.csv")
df2

,province_id,latitude,longitude,province_population,province_fr,province_name,country_id,province_short_form
0,1,56.130400,106.346800,38056261,Canada,Canada,1,CA
1,10,53.135509,-57.660435,520581,NaN,Newfoundland and Labrador,1,NL
2,11,46.510700,-63.416800,158619,Terre-Neuve-et-Labrador,Prince Edward Island,1,PE
3,12,44.682000,-63.744300,980767,Nouvelle-Ecosse,Nova Scotia,1,NS
4,13,46.498390,-66.159668,780679,Nouveau-Brunswick,New Brunswick,1,NB
5,24,53.000000,-70.000000,8570197,QuEbec,Quebec,1,QC
6,35,50.000000,-85.000000,14783191,Ontario,Ontario,1,ON
7,46,53.760860,-98.813873,1380810,Manitoba,Manitoba,1,MB
8,47,52.939900,-106.450900,1183377,Saskatchewan,Saskatchewan,1,SK
9,48,53.933300,116.576500,4437827,Alberta,Alberta,1,AB
10,59,53.726669,-127.647621,5134969,Colombie-Britannique,British Columbia,1,BC
11,60,64.282300,-135.000000,41101,Yukon,Yukon,1,YT
12,61,64.825500,-124.845700,44831,Territoires du Nord-Ouest,Northwest Territories,1,NT
13,62,70.299800,-83.107600,39367,Nunavut,Nunavut,1,NU
14,99,0.000000,0.000000,0,NaN,Repatriated travellers,1,NaN

In [198]:
k=[]
for i in range(1,14):
    k.append([df2['province_id'][i],df2['province_name'][i],l[i-1]])

In [199]:
k

[[10, 'Newfoundland and Labrador', 10747],
 [11, 'Prince Edward Island', 4596],
 [12, 'Nova Scotia', 37482],
 [13, 'New Brunswick', 20791],
 [24, 'Quebec', 347224],
 [35, 'Ontario', 559794],
 [46, 'Manitoba', 35578],
 [47, 'Saskatchewan', 41606],
 [48, 'Alberta', 218964],
 [59, 'British Columbia', 125044],
 [60, 'Yukon', 1134],
 [61, 'Northwest Territories', 2044],
 [62, 'Nunavut', 0]]

In [210]:
df2=pd.read_csv("Final_2.csv")
df2['total_tests']=0
df2

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,0,4437827,1513.353270,0.151335,1004,1.199727
1,British Columbia,2467,149,2001,0,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,0,38056261,2104.831055,0.210483,33379,5.697350
3,Manitoba,290,7,257,0,1380810,210.021654,0.021002,26,0.083520
4,New Brunswick,120,0,120,0,780679,153.712345,0.015371,0,0.054804
5,Newfoundland and Labrador,260,3,250,0,520581,499.441970,0.049944,7,0.000000
6,Northwest Territories,5,0,5,0,44831,111.529968,0.011153,0,0.012017
7,Nova Scotia,1045,57,956,0,980767,1065.492620,0.106549,32,2.937208
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,0,14783191,1608.177828,0.160818,3622,221.215223
10,Prince Edward Island,27,0,27,0,158619,170.219204,0.017022,0,0.072035
11,Quebec,44775,3718,12822,0,8570197,5224.500674,0.522450,28235,974.216710
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,1.146384
13,Saskatchewan,599,6,470,0,1183377,506.178504,0.050618,123,29.305284
14,Yukon,11,0,11,0,41101,267.633391,0.026763,0,1.160338

In [213]:
for i in df2.index:
    for j in range(0,len(k)):
        if(df2['province_name'][i]==k[j][1]):
            #print("Hello")
            df2['total_tests'][i]=k[j][2]
df2['total_tests'][2]=df2['total_tests'].sum()

d:\programdata\anaconda\envs\myenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
d:\programdata\anaconda\envs\myenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [214]:
df2

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,218964,4437827,1513.353270,0.151335,1004,1.199727
1,British Columbia,2467,149,2001,125044,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,1405004,38056261,2104.831055,0.210483,33379,5.697350
3,Manitoba,290,7,257,35578,1380810,210.021654,0.021002,26,0.083520
4,New Brunswick,120,0,120,20791,780679,153.712345,0.015371,0,0.054804
5,Newfoundland and Labrador,260,3,250,10747,520581,499.441970,0.049944,7,0.000000
6,Northwest Territories,5,0,5,2044,44831,111.529968,0.011153,0,0.012017
7,Nova Scotia,1045,57,956,37482,980767,1065.492620,0.106549,32,2.937208
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,559794,14783191,1608.177828,0.160818,3622,221.215223
10,Prince Edward Island,27,0,27,4596,158619,170.219204,0.017022,0,0.072035
11,Quebec,44775,3718,12822,347224,8570197,5224.500674,0.522450,28235,974.216710
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,1.146384
13,Saskatchewan,599,6,470,41606,1183377,506.178504,0.050618,123,29.305284
14,Yukon,11,0,11,1134,41101,267.633391,0.026763,0,1.160338

In [215]:
df2['active_cases']=df2['total_cases']-df2['recovered_cases']-df2['death_cases']
df2

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,218964,4437827,1513.353270,0.151335,1004,1.199727
1,British Columbia,2467,149,2001,125044,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,1405004,38056261,2104.831055,0.210483,33379,5.697350
3,Manitoba,290,7,257,35578,1380810,210.021654,0.021002,26,0.083520
4,New Brunswick,120,0,120,20791,780679,153.712345,0.015371,0,0.054804
5,Newfoundland and Labrador,260,3,250,10747,520581,499.441970,0.049944,7,0.000000
6,Northwest Territories,5,0,5,2044,44831,111.529968,0.011153,0,0.012017
7,Nova Scotia,1045,57,956,37482,980767,1065.492620,0.106549,32,2.937208
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,559794,14783191,1608.177828,0.160818,3622,221.215223
10,Prince Edward Island,27,0,27,4596,158619,170.219204,0.017022,0,0.072035
11,Quebec,44775,3718,12822,347224,8570197,5224.500674,0.522450,28235,974.216710
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,1.146384
13,Saskatchewan,599,6,470,41606,1183377,506.178504,0.050618,123,29.305284
14,Yukon,11,0,11,1134,41101,267.633391,0.026763,0,1.160338

In [217]:
df2['affected/million']=(df2['total_cases']/df2['province_population'])*1000000
df2['affected/hundred']=(df2['total_cases']/df2['province_population'])*100
df2.replace(np.inf,0,inplace=True)
df2

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,218964,4437827,1513.353270,0.151335,1004,1.199727
1,British Columbia,2467,149,2001,125044,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,1405004,38056261,2104.831055,0.210483,33379,5.697350
3,Manitoba,290,7,257,35578,1380810,210.021654,0.021002,26,0.083520
4,New Brunswick,120,0,120,20791,780679,153.712345,0.015371,0,0.054804
5,Newfoundland and Labrador,260,3,250,10747,520581,499.441970,0.049944,7,0.000000
6,Northwest Territories,5,0,5,2044,44831,111.529968,0.011153,0,0.012017
7,Nova Scotia,1045,57,956,37482,980767,1065.492620,0.106549,32,2.937208
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,559794,14783191,1608.177828,0.160818,3622,221.215223
10,Prince Edward Island,27,0,27,4596,158619,170.219205,0.017022,0,0.072035
11,Quebec,44775,3718,12822,347224,8570197,5224.500674,0.522450,28235,974.216710
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,1.146384
13,Saskatchewan,599,6,470,41606,1183377,506.178504,0.050618,123,29.305284
14,Yukon,11,0,11,1134,41101,267.633391,0.026763,0,1.160338

In [219]:
df2['cases/hundred tests']=(df2['total_cases']/df2['total_tests'])*100
df2.replace([np.inf,np.nan],0,inplace=True)
df2

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,218964,4437827,1513.353270,0.151335,1004,3.067171
1,British Columbia,2467,149,2001,125044,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,1405004,38056261,2104.831055,0.210483,33379,5.701194
3,Manitoba,290,7,257,35578,1380810,210.021654,0.021002,26,0.815110
4,New Brunswick,120,0,120,20791,780679,153.712345,0.015371,0,0.577173
5,Newfoundland and Labrador,260,3,250,10747,520581,499.441970,0.049944,7,2.419280
6,Northwest Territories,5,0,5,2044,44831,111.529968,0.011153,0,0.244618
7,Nova Scotia,1045,57,956,37482,980767,1065.492620,0.106549,32,2.788005
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,559794,14783191,1608.177828,0.160818,3622,4.246919
10,Prince Edward Island,27,0,27,4596,158619,170.219205,0.017022,0,0.587467
11,Quebec,44775,3718,12822,347224,8570197,5224.500674,0.522450,28235,12.895134
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,0.000000
13,Saskatchewan,599,6,470,41606,1183377,506.178504,0.050618,123,1.439696
14,Yukon,11,0,11,1134,41101,267.633391,0.026763,0,0.970018

In [220]:
df2.to_csv("Final_2.csv")

In [6]:
df3=pd.read_csv("Final_2.csv")
df3

,province_name,total_cases,death_cases,recovered_cases,total_tests,province_population,affected/million,affected/hundred,active_cases,cases/hundred tests
0,Alberta,6716,128,5584,218964,4437827,1513.353270,0.151335,1004,3.067171
1,British Columbia,2467,149,2001,125044,5134969,480.431333,0.048043,317,1.972906
2,Canada,80102,6030,40693,1405004,38056261,2104.831055,0.210483,33379,5.701194
3,Manitoba,290,7,257,35578,1380810,210.021654,0.021002,26,0.815110
4,New Brunswick,120,0,120,20791,780679,153.712345,0.015371,0,0.577173
5,Newfoundland and Labrador,260,3,250,10747,520581,499.441970,0.049944,7,2.419280
6,Northwest Territories,5,0,5,2044,44831,111.529968,0.011153,0,0.244618
7,Nova Scotia,1045,57,956,37482,980767,1065.492620,0.106549,32,2.788005
8,Nunavut,0,0,0,0,39367,0.000000,0.000000,0,0.000000
9,Ontario,23774,1962,18190,559794,14783191,1608.177828,0.160818,3622,4.246919
10,Prince Edward Island,27,0,27,4596,158619,170.219204,0.017022,0,0.587467
11,Quebec,44775,3718,12822,347224,8570197,5224.500674,0.522450,28235,12.895134
12,Repatriated travellers,13,0,0,0,0,0.000000,0.000000,13,0.000000
13,Saskatchewan,599,6,470,41606,1183377,506.178504,0.050618,123,1.439696
14,Yukon,11,0,11,1134,41101,267.633391,0.026763,0,0.970018

In [9]:
diff=[]
diff=df3['cases/hundred tests']-df3['affected/hundred']
diff

0      2.915836
1      1.924862
2      5.490711
3      0.794108
4      0.561802
5      2.369336
6      0.233465
7      2.681456
8      0.000000
9      4.086102
10     0.570445
11    12.372684
12     0.000000
13     1.389078
14     0.943254
dtype: float64